{% extends 'store/main.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    
    {% block content %}
        
        <div class="row" id="rowdata">

            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
                <div class="box-element product">
                    <h6><strong>Product</strong></h6>
                    <hr>
    
                    <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
    
                </div>
            </div>
    
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
                <div class="box-element product">
                    <h6><strong>Product</strong></h6>
                    <hr>
                    
                    <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
                    
                </div>
            </div>
    
            <div class="col-lg-4">
                <img class="thumbnail" src="{% static 'images/placeholder.png' %}">
                <div class="box-element product">
                    <h6><strong>Product</strong></h6>
                    <hr>
    
                    <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right"><strong>$20</strong></h4>
    
                </div>
            </div>

        </div>

    {% endblock %}
</body>
</html>
