body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 7%, 38%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
    transition: box-shadow 0.3s, background-color 0.3s, transform 0.3s;
}

.box-element:hover {
    box-shadow: hsl(210, 70%, 50%) 0 0 16px; 
    background-color: #f0f0f0;
    transform: scale(1.05);
  }

.thumbnail{
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.thumbnail:hover {
    box-shadow: 0px 0px 10px 0px rgba(214, 214, 214, 1); /* Changing box-shadow on hover */
    transform: scale(1.12); /* Scaling slightly on hover */
  }
  

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}



#cart{
    display: flex;
}

#cart-icon{
	width:25px;
	display: inline-blockre;
	margin-left: 0px;
  color: white;
  position: relative;
}

#cart-icon:hover{
  color: #ff4d07; 
  transform: scale(1.25); 
  transition: color 0.3s ease-out, transform 0.3s ease-out;
}

.carticon{
  text-decoration: none;
}

.carticon:hover{
  color: #ff4d07; 
  transform: scale(1.25); 
  transition: color 0.3s ease-out, transform 0.3s ease-out;
}

#cart-total{
	display: block;
	text-align: center;
  position: absolute;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
  transform:translate(428%,-44%)
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

#rowdata{
    margin-top: 2%;
    margin-bottom: 2%;
}

#rowdata1{
    margin-top: 10%;
    
}

#rowdata2{
  margin-top: 2%;
}


.brand-large {
    font-size: 1.6em; 
    margin-right: 10px; /* Increase space between 'Bazinga!' and 'Store' */
  }
  
  .brand-small {
    font-size: 1.7rem; /* Slightly larger font size for 'Store' */
  }
  
  /* Navbar brand hover effect */
  .navbar-brand:hover .brand-large {
    color: #ffc107; /* Change text color on hover */
    transform: scale(1.1); /* Increase size on hover */
  }
  
  .brand-small:hover  {
    color: #ff4d07; 
    transform: scale(1.05); 
    transition: color 0.3s ease-out, transform 0.3s ease-out; 
  }
  
.navbar-brand {
    transition: color 0.3s ease-out, transform 0.3s ease-out; 
  }
  
 
  .navbar-brand:hover {
    color: #ff9c07; 
    transform: scale(0.9); 
  }
  
  
  .nav-link:hover {
    transform: scale(1.1); 
    transition: color 0.3s ease-out, transform 0.3s ease-out; 
  }


.btn-warning:hover {
  background-color: #f2bb77; 
  transform: translateY(-2px);
}


#cart a:hover img {
  filter: brightness(50%);
  transform: scale(1.1); 
}

#loginbtn{
  width: 120px;
  font-weight: 400;
}